#terrain {
    height: 400px;
    width: 400px;
    background-color: black;
}

.block{
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}

#snake .body{
    background-color: green;
    border: 1px inset forestgreen;
    
}

.bonus {
    background-color: red;;
    position: absolute;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}

#snake{
    position: absolute;
}

#bonuses{
    height: 400px;
    width: 400px;
    position: relative;
}